{{>admMenu}}
<section class="adm">
    {{#each produtos}}
    <div class="card">
        <div class="editar-excluir">
            <a href="#" id="editar"><span class="material-icons">&#xe3c9;</span>Editar</a>
            <a href="/excluir/produto/{{idProduto}}" id="excluir"><span class="material-icons">&#xe14c;</span>Excluir</a>
        </div>
        <div class="img"><img src="{{imageUrl}}" alt="{{nome}}" title="{{nome}}"></div>
        <span class="separador"></span>
        <div class="dados">
            <h3>{{nome}}</h3>
            <p>{{descricao}}</p>
            <h2>R${{preco}}</h3>
            <span class="separador"></span>
            <p>{{categoria}}</p>
        </div>
    </div>
    {{/each}}
</section>
<script>
    const produto = document.getElementById("produtos")
    const categoria = document.getElementById("categorias")
    const estampa = document.getElementById("estampas")
    const tema = document.getElementById("temas")
    const add = document.getElementById("adicionar")
    add.classList.remove("ativo")
    produto.classList.add("ativo")
    categoria.classList.remove("ativo")
    estampa.classList.remove("ativo")
    tema.classList.remove("ativo")
</script>