<section class="produtos-page">
    <a class="title" href="categoria">
        <span class="material-icons">&#xe408;</span>
        {{categoria}}
    </a>
    <section class="produtos-cards">
        {{#each produtos}}
        <div class="card-client">
            <img src="/uploads/{{imageUrl}}" alt="">
            <div class="dados">
                <h3 id="titulo">{{nome}}</h3>
                <div class="subdados">
                    <p>{{descricao}}</p>
                    <h2 id="preco">{{preco}}</h2>
                </div>
            </div>

        </div>
        {{/each}}
    </section>
</section>