<section class="produtos-page">
    <a class="title" href="categoria">
        <span class="material-icons">&#xe408;</span>
        {{categoria}}
    </a>
    <section class="produtos-cards">
        {{#each produtos}}
        <div class="card-client">
            <img src="{{imageUrl}}" alt="">
            <div class="dados">
                <h3 id="titulo">{{nome}}</h3>
                <div class="subdados">
                    <p>{{descricao}}</p>
                    <h2 id="preco">R${{preco}}</h2>
                </div>
                <a href="https://api.whatsapp.com/send?phone=5595981056701&text=Olá!%20Gostaria%20de%20encomendar%20um(a)%20{{nome}}" class="encomendar" ><img src="/assets/whatsapp.png" alt="">Pedir</a>
            </div>
        </div>
        {{/each}}
    </section>
</section>